@hovercolor: #0d8ee1;
@hovertextcolor: #fff;

.treeview-income {

    position: relative;

    .loading-overlay {
        position: absolute;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,.4);
    }

    .current_item_heading {

        background: @hovercolor;
        color: @hovertextcolor;
    }

    select {
        margin-top: 10px;
        margin-bottom: 5px;
        margin-left: 10px;
    }

    .current_item {
        padding: 15px;
        border-right: 1px solid #ccc;

        >span {
            padding: 10px 5px;
            text-transform: uppercase;
            font-weight: 500;
            border-right: 1px solid rgba(255,255,255,.3);
            &:last-child {
                border-right: none;
            }
            &:hover {
                cursor: pointer;
            }
        }

    }

    table.table {
        border-color: @hovercolor !important;
        tr {
            th {
                font-size: 12px;
                text-align: right;
                &:nth-child(1) {
                    width: 20%;
                    text-align: left;
                }
            }
            td {
                font-size: 12px;
                text-align: right;
                &:nth-child(1) {
                    width: 20%;
                    text-align: left;
                    &:hover {
                        cursor: pointer;
                        background: @hovercolor;
                        color: @hovertextcolor;
                    }
                }
            }
        }
    }

}
